# Dependencias
node_modules
.pnp
.pnp.js

# Testing
coverage

# Producción
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories y files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hardhat
cache
artifacts
typechain
typechain-types

# Contract deployments
src/contracts/contract-address.json

# Misc
*.pem
.vercel
.next
